.text-area {
     -fx-font-family: Helvetica;
     -fx-text-fill: #FFFFFF;
     -fx-font-size: 13px;
     -fx-background-insets: 0;
     -fx-background-color: transparent, #2F2F2F, transparent, #2F2F2F;
}

.text-area .content{
	-fx-background-color: transparent, #2F2F2F, transparent, #2F2F2F;
}
.mode {
	 -fx-color: #2F2F2F;
     -fx-control-inner-background: #2F2F2F;
     -fx-text-fill: white;
     -fx-border-color: green;

}
